@import 'media-queries.scss';
body{
    margin: 4%;
}

.divider_long, .divider_short{
        border: 2px solid rgb(84, 190, 137);
    }
header{
    img{
        border-top:solid 2px rgb(84, 190, 137);
        border-left:solid 2px rgb(84, 190, 137);
    }
}
.contact{
    width: 70%;
    margin: auto;
    font-family: 'Fredoka', sans-serif;
    color: rgba(46, 45, 45, 0.781);
    text-align: center;
    
    p{
        line-height: 30px;
    }
}

.divider_center{
    
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    
    margin-top: 10px;
    margin-bottom: 80px;
    height: 250px;
}
.icons{

    margin-bottom: 50px;
}
#aboutme{
    font-weight: 400;
    color: rgb(208, 64, 64);
    text-decoration: underline;
}