@import 'style.scss';
@import 'media-queries.scss';

body{
    margin: 4%;
}

header{
    .header-content{
        img{
        border-top:solid 2px rgb(101, 141, 253);
        border-left:solid 2px rgb(101, 141, 253);
        }
    }
}
.divider_long{
    border: 2px solid rgb(101, 141, 253);
    width: 210px;
    margin-left: 15%;
    margin-top: 30px;
}
.divider_short{
    width: 104px;
    border: 2px solid rgb(101, 141, 253);
    margin-top: 2.4rem;
    margin-left: 15%;
}
h1{
    font-family: 'Fredoka', sans-serif; 
    color: rgba(66, 65, 65, 0.781);
    margin-bottom: 0px;

}
main{
    margin-top: 2px;
    width: 100%;
    margin: auto;
    height: 270px;
    .about-me{
        /*margin-top: 0px;*/
        padding-top: 0%;
        width: 55%;
        font-family: 'Fredoka', sans-serif; 
        color: rgba(66, 65, 65, 0.781);
        a{
            margin-right: 15px;
            margin-top: 10px;
            background-color:rgb(238, 101, 101);
            color: aliceblue;
            border-radius: 10px;
            padding: 9px;
            text-decoration: none;
            &:hover{
                background-color: rgb(250, 141, 141);
            }
        }
    }
    .image{
        background-color: rgb(101, 141, 253);
        width: 170px;
        height: 220px;
        position: relative;
        bottom: 0%;
        left: 10%;
        border-top-left-radius: 10px;
        img{
            width: 170px;
            height: 210px;
            position: relative;
            top: 14%;
            right: 18%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }

}
.training{
    width: 70%;
    margin: auto;
    font-family: 'Fredoka', sans-serif; 
    color: rgba(66, 65, 65, 0.781);
    a{
        background-color:rgb(238, 101, 101);
        color: aliceblue;
        border-radius: 10px;
        padding: 9px;
        text-decoration: none;
        &:hover{
            background-color: rgb(250, 141, 141);
        }
    }
    
}

